<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <title>L & M</title>
    <script src="https://unpkg.zhimg.com/vue@legacy"></script>
    <script src="https://unpkg.zhimg.com/vue-cal@legacy"></script>
    <script src="https://unpkg.zhimg.com/vue2-touch-events"></script>
    <script src="https://unpkg.zhimg.com/crypto-js@4.2.0/crypto-js.js"></script>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-y/mint-ui/2.2.13/index.js"></script>
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/mint-ui/2.2.13/style.min.css" rel="stylesheet">
    <link href="https://unpkg.zhimg.com/vue-cal@legacy/dist/vuecal.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <mt-button class="list-btn" @click.native="switchMode('list')" size="small" v-if="mode==='cal'">列表</mt-button>
      <mt-button class="search-btn" @click.native="switchMode('search')" size="small" v-if="mode==='cal'">搜索</mt-button>
      <mt-button class="cal-btn" @click.native="switchMode('cal')" icon="back"  v-else></mt-button>
      <vue-cal
        ref="cal"
        v-if="mode==='cal'"
        v-touch:swipe="swipeHandler"
        class="cal"
        hide-view-selector
        :locale="'zh-cn'"
        :selected-date="selectedDate"
        :min-date="minDate"
        :max-date="maxDate"
        active-view="month"
        :disable-views="['week', 'day']"
        events-on-month-view="short"
        :events="events"
        click-to-navigate
        events-count-on-year-view
        :on-event-click="onEventClick"
       >
      </vue-cal>
      <div class="list" v-if="mode==='list'">
        <mt-navbar fixed v-model="selectedTab">
          <mt-tab-item id="food">
            美食
          </mt-tab-item>
          <mt-tab-item id="film">
            电影
          </mt-tab-item>
          <mt-tab-item id="myevent">
            其他
          </mt-tab-item>
        </mt-navbar>
        <div>
          <div class="tag" v-for="(event,index) in eventsStatArr[selectedTab]" :key="event.name">
            <span @click="eventsStatIndex=index,sheetVisible = true">{{event.name}}</span>
            <mt-badge v-if="event.count>1" size="small">{{event.count}}</mt-badge>
          </div>
        </div>   
      </div>
      <div class="search" v-if="mode==='search'">
        <mt-search v-model="searchText" cancel-text="" autofocus >
          <mt-cell
            v-for="item in searchResult"
            :title="item.title"
            :value="item.dateText"
            @click.native="()=>gotoDate({date:item.start})"
            >
          </mt-cell>
        </mt-search>
      </div>
      <mt-actionsheet :actions="eventsStatDates" v-model="sheetVisible" cancel-text=""></mt-actionsheet>
    </div>
    <script src="encrypted-data.js"></script>
    <script src="main.js"></script>
  </body>
</html>
