body{
  margin :0
}
.cal{
  min-height: 600px;
}
.vuecal__event{
  overflow: visible;
  margin: 1px 0;
}

.vuecal__cell--selected {
  background-color: #ebfdff66;
}

.vuecal__cell--selected:before {
  border-color: #73bfcc80;
}

.vuecal--short-events .vuecal__event-title{
  overflow: visible;
  text-align: center;
  background-color: #157bfb;
  color:white;
  white-space: normal;
  border-radius: 5px;
  padding: 0;
}
.vuecal__event.myevent .vuecal__event-title{
  background-color: #9c51c5;
}

.vuecal__event.film {
  background-color: black;
  padding: 2px 0;
}

.vuecal__event.film .vuecal__event-title{
  background-image: linear-gradient(#555, #555);
  border-radius: 0;
  border-top: dotted white 3px;
  border-bottom: dotted white 3px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 2px 0;
  line-height: 1.1;
}

.vuecal__event.s {
  position: absolute;
  top: 0;
  left: 4px;
  width: auto;
  background: transparent;
  font-size: 10px;
  pointer-events: none;
}
.vuecal__event.s::after {
  content:"❤️";
}

.vuecal__cell-content{
  margin: 0 -1px;
}
.vuecal__cell--out-of-scope .vuecal__cell-content{
  display: none;
}
.vuecal__title > button {
  font-size: 16px; 
  margin-left: -50px;
}
.vuecal__cell--has-events:has(.travel):not(.vuecal__cell--out-of-scope){
  background-image: url('map.jpg');
  background-size: cover;
}

.vuecal__cell--has-events:has(.flight):not(.vuecal__cell--out-of-scope){
  background-image: url('travel.png');
}

.vuecal__cell--has-events:has(.travel) .vuecal__cell-date{
  color: transparent;
  height: 10px;
}

.vuecal__cell--has-events:has(.travel)+.vuecal__cell--has-events:has(.travel){
  background-position-x: -100%;
}.vuecal__cell--has-events:has(.travel)+.vuecal__cell--has-events:has(.travel)+.vuecal__cell--has-events:has(.travel){
  background-position-x: -200%;
}

.vuecal__cell--has-events:has(.travel) .vuecal__event-title,.vuecal__cell--has-events:has(.travel) .vuecal__event{
  background: none
}
.vuecal__cell--has-events:has(.travel)  .vuecal__event-title{
  text-shadow: 1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

}
.vuecal__cell--has-events:has(.travel) .food .vuecal__event-title{
  text-shadow: 1px -1px 0 #157bfb, 1px -1px 0 #157bfb, -1px 1px 0 #157bfb, 1px 1px 0 #157bfb;
}
.vuecal__cell--has-events:has(.travel) .myevent .vuecal__event-title{
  text-shadow: 1px -1px 0 #9c51c5, 1px -1px 0 #9c51c5, -1px 1px 0 #9c51c5, 1px 1px 0 #9c51c5;
}

.list{
  position: absolute;
  top: 46px;
  bottom: 0;
  overflow: auto;
  padding: 10px;
}
.list .tag{
  width:50%;
  display: inline-block;
  margin: 5px 0;
}
.cal-btn{
  background: none;
  box-shadow: none;
  position: absolute;
  z-index: 9;
  top: 3px;
}
.list-btn{
  background: none;
  box-shadow: none;
  position: absolute;
  z-index: 9;
  right: 70px;
  top: 6px;
}
.mint-actionsheet{
  max-height: 90%;
  overflow: auto;
}
